pipeline/filter.json
{
	"name": "filter",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Array",
						"type": "Expression"
					},
					"condition": {
						"value": "@less(item(),3 )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filter_input",
					"value": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Array": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					6,
					8
				]
			}
		},
		"variables": {
			"filter_input": {
				"type": "Array"
			},
			"inputvariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}