pipeline/lookup.json
{
	"name": "lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource"
					},
					"dataset": {
						"referenceName": "MySql",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"database_pipeline": {
								"value": "@pipeline().globalParameters.schema_name_global",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Firstname",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Employeeid",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "First_name",
								"value": {
									"value": "@item().First_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lastname",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Firstname",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Last_name",
								"value": {
									"value": "@item().Last_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Salary",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lastname",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Salary",
								"value": {
									"value": "@item().Salary",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Hiredate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Salary",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Hire_date",
								"value": {
									"value": "@item().Hire_date",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Email",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Hiredate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Email",
								"value": {
									"value": "@item().Email",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Employeeid",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Employeeid",
								"value": {
									"value": "@item().Employeeid",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			}
		},
		"variables": {
			"First_name": {
				"type": "String"
			},
			"Last_name": {
				"type": "String"
			},
			"Salary": {
				"type": "String"
			},
			"Hire_date": {
				"type": "String"
			},
			"Email": {
				"type": "String"
			},
			"Employeeid": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}